
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isRobot() {
      return request.auth != null && request.auth.token.robot_access == true;
    }

    function isAuthenticated() {
      return request.auth != null;
    }

    match /{allPaths=**} {
      allow read, write: if isRobot();
    }

    match /fotos_perfil/{userId} {
      allow read: if true;
      allow write: if isAuthenticated() && request.auth.uid == userId;
    }

    match /notificacoes/{notificationId}/{allPaths=**} {
      // PDF Público para links externos funcionarem
      allow read: if (allPaths.matches('.*\\.pdf')) || isAuthenticated();
      allow write: if isAuthenticated();
    }

    match /user_files/{userId}/{allPaths=**} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
    }
  }
}
